* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}

/* Bottoni sopra-destra */

.upper-right-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    margin-top: 5px;
    margin-right: 5px;
}

.upper-right-buttons .left-button,
.upper-right-buttons .right-button {
    background-color: #4a4a4a;
    color: white;
    padding: 2px 5px;
    font-size: 0.8em;
    border-radius: 5px;
}

/* Fine bottoni sopra-destra*/

/* Main box */

section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

section .main-box {
    width: 1717px;
    background-color: red;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-box .panel {

    height: 135px;
    width: calc(100% / 7 - 10px);
    background-color: blue;

    margin-bottom: 20px;

    position: relative;
}

.nickname {
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;

    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.nickname-image {
    object-fit: contain;
}



/* Fine main box */

/* Bottom nav */

.bottom-bar {
    height: 82px;
    width: 100%;
    background-color: #222222;

    position: fixed;
    bottom: 0;
}

/* Fine bottom nav */