* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}

/* Bottoni sopra-destra */

main {
    position: relative;
}

.nav-container {
    height: 30px;
    background-color: black;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;
}

.upper-right-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    margin-top: 5px;
    margin-right: 5px;
}

.upper-right-buttons .left-button,
.upper-right-buttons .right-button {
    background-color: #4a4a4a;
    color: white;
    padding: 2px 5px;
    font-size: 0.8em;
    border-radius: 5px;
}

/* Fine bottoni sopra-destra*/

/* Main box */



section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .main-box {
    width: 1717px;

    margin-top: 50px;
    margin-bottom: 80px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.main-box .panel {

    height: 135px;
    width: calc(100% / 7 - 10px);
    min-width: 200px;
    min-height: 135px;

    position: relative;

    margin-bottom: 30px;
}

.nickname {
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;

    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.nickname-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* Fine main box */

/* Bottom nav */

.bottom-bar {
    height: 82px;
    width: 100%;
    background-color: #222222;

    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-start;

}

.bar-align {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.section-right {
    color: red;
    background-color: #4a4a4a;
    width: 10%;
    height: 100%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-left {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: sans-serif;
    margin-left: 10px;
}

.section-middle {
    color: white;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.icon-big.green {
    color: #4bc800;
}

table tr td {
    text-align: center;
    width: 75px;
    white-space: nowrap;
}

.icon-big {
    font-size: 25px;
}

/* Fine bottom nav */